#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
    margin-top: 10px;
    margin-bottom: 10px;

}

#images {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0;
}

button, img {
    margin: 40px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;   
    margin-bottom: 20px;
    
}

button {
    width: 130px;
    font-size: 20px;
    margin-top: 0px;
    background-color: #d7b4f3;
}

body {
    background-color: #B1BCA0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    width: 105px;
    margin-bottom: 0px;
    padding: 15px;
    
}

h1 {
    font-size: 50px;
}

#results {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#computerAnswer {
    font-size: 20px;
}

#gameResult {
    font-size: 30px;
    margin: 15px;
    font-weight: bolder;
}

#tally {
    font-size: 20px;
}

#finalScore {
    font-size: 30px;
    margin: 15px;
}